[Unit]
Description=Sync local directory to Huawei Cloud OBS
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/obsync -f /etc/obsync.json

[Install]
WantedBy=multi-user.target,timer.target
